In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_table('/home/shraddha/Downloads/output20200129.txt', sep='\t',
                       names=('date_time_cst','date_time_utc','normalize15','zipcode','rdng_dtmgmt','cdt','main_adr_zip_cd_5','received_energy_kwh',
                              'delivered_energy_kwh','capacity','isDayLight'))
df = pd.DataFrame(df)
print(df.head(10))

/home/shraddha/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         date_time_cst        date_time_utc  normalize15  zipcode  \
0        date_time_cst        date_time_utc  normalize15  zipcode
1  2017-01-01 07:00:00  2017-01-01 13:00:00       0.0006    75019
2  2017-01-01 07:00:00  2017-01-01 13:00:00       0.0107    75075
3  2017-01-01 07:00:00  2017-01-01 13:00:00       0.0165    75093
4  2017-01-01 07:00:00  2017-01-01 13:00:00       0.0321    76063
5  2017-01-01 07:00:00  2017-01-01 13:00:00        0.042    78717
6  2017-01-01 07:00:00  2017-01-01 13:00:00       0.1358    78664
7  2017-01-01 07:15:00  2017-01-01 13:15:00       0.0006    75019
8  2017-01-01 07:15:00  2017-01-01 13:15:00       0.0126    75075
9  2017-01-01 07:15:00  2017-01-01 13:15:00       0.0214    76063

           rdng_dtmgmt                  cdt  main_adr_zip_cd_5  \
0          rdng_dtmgmt                  cdt  main_adr_zip_cd_5
1  2017-01-01 13:00:00  2017-01-01 07:00:00              75019
2  2017-01-01 13:00:00  2017-01-01 07:00:00              75075
3  2017-01-01 13:00:00  2017-01-01 07:00:00              75093
4  2017-01-01 13:00:00  2017-01-01 07:00:00              76063
5  2017-01-01 13:00:00  2017-01-01 07:00:00              78717
6  2017-01-01 13:00:00  2017-01-01 07:00:00              78664
7  2017-01-01 13:15:00  2017-01-01 07:15:00              75019
8  2017-01-01 13:15:00  2017-01-01 07:15:00              75075
9  2017-01-01 13:15:00  2017-01-01 07:15:00              76063

   received_energy_kwh  delivered_energy_kwh  capacity  isDayLight
0  received_energy_kwh  delivered_energy_kwh  capacity  isDayLight
1                0.000                49.706       NaN         NaN
2                0.993                73.395    15.200         NaN
3                0.276               102.616    10.000         NaN
4                0.731                88.827    37.960         NaN
5                0.000                12.422       NaN         NaN
6                1.628                94.598    12.310         NaN
7                0.000                50.380       NaN         NaN
8                1.024                74.133    15.200         NaN
9                0.757                99.728    37.960         NaN

In [3]:
df = pd.DataFrame(df[['cdt' , 'normalize15' , 'zipcode' ,'received_energy_kwh', 'isDayLight']])
print(df[1::].head(10))

                    cdt normalize15 zipcode received_energy_kwh isDayLight
1   2017-01-01 07:00:00      0.0006   75019               0.000        NaN
2   2017-01-01 07:00:00      0.0107   75075               0.993        NaN
3   2017-01-01 07:00:00      0.0165   75093               0.276        NaN
4   2017-01-01 07:00:00      0.0321   76063               0.731        NaN
5   2017-01-01 07:00:00       0.042   78717               0.000        NaN
6   2017-01-01 07:00:00      0.1358   78664               1.628        NaN
7   2017-01-01 07:15:00      0.0006   75019               0.000        NaN
8   2017-01-01 07:15:00      0.0126   75075               1.024        NaN
9   2017-01-01 07:15:00      0.0214   76063               0.757        NaN
10  2017-01-01 07:15:00      0.0223   75093               0.284        NaN

In [4]:
df[['cdt','normalize15','zipcode' , 'received_energy_kwh']].isna().sum()

cdt                    358828
normalize15                 0
zipcode                     0
received_energy_kwh    358828
dtype: int64

In [5]:
df.shape
df = df[df['isDayLight']=='1']
df.head(10)

                    cdt normalize15 zipcode received_energy_kwh isDayLight
13  2017-01-01 07:30:00      0.0006   75019               0.000          1
14  2017-01-01 07:30:00      0.0027   76063               0.777          1
15  2017-01-01 07:30:00      0.0033   76087               0.000          1
16  2017-01-01 07:30:00      0.0047   76060               0.000          1
17  2017-01-01 07:30:00      0.0126   75075               1.054          1
18  2017-01-01 07:30:00      0.0251   75093               0.291          1
19  2017-01-01 07:30:00      0.0281   78717               0.000          1
20  2017-01-01 07:30:00      0.0906   78664               1.774          1
21  2017-01-01 07:45:00      0.0001   76108               0.984          1
22  2017-01-01 07:45:00      0.0004   76182               1.270          1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61861 entries, 13 to 65535
Data columns (total 5 columns):
cdt                    61861 non-null object
normalize15            61861 non-null object
zipcode                61861 non-null object
received_energy_kwh    61861 non-null object
isDayLight             61861 non-null object
dtypes: object(5)
memory usage: 2.8+ MB

In [7]:
df['zipcode'].value_counts(())

76087    3453
76060    3452
76063    3451
78717    3446
78681    3445
75025    3445
75075    3441
78621    3436
75093    3434
78728    3433
75019    3430
76126    3429
78664    3429
78660    3429
76108    3428
76182    3427
75023    3427
78633    3426
Name: zipcode, dtype: int64

In [8]:
df = df.drop(df.index[0])
received_energy_produced = df[df['received_energy_kwh'].notnull()]
received_energy_produced

                       cdt normalize15 zipcode received_energy_kwh isDayLight
14     2017-01-01 07:30:00      0.0027   76063               0.777          1
15     2017-01-01 07:30:00      0.0033   76087               0.000          1
16     2017-01-01 07:30:00      0.0047   76060               0.000          1
17     2017-01-01 07:30:00      0.0126   75075               1.054          1
18     2017-01-01 07:30:00      0.0251   75093               0.291          1
...                    ...         ...     ...                 ...        ...
65531  2017-03-20 16:00:00      0.6453   76108              69.834          1
65532  2017-03-20 16:00:00      0.6497   76182              45.234          1
65533  2017-03-20 16:00:00      0.6622   78621               9.406          1
65534  2017-03-20 16:00:00      0.6652   78633               0.000          1
65535  2017-03-20 16:00:00       0.675   76126              24.801          1

[61860 rows x 5 columns]

In [9]:
df = df.drop(df.index[0])
received_energy_null = df[df['received_energy_kwh'].isnull()]
received_energy_null

Empty DataFrame
Columns: [cdt, normalize15, zipcode, received_energy_kwh, isDayLight]
Index: []

In [10]:
df.fillna('0').shape

(61859, 5)

In [11]:
new_df = df

In [12]:
# df = df.replace(np.nan, 0)
df = df[(df['cdt'] >= '2017-03-01 00:00') & (df['cdt']<= '2017-04-30 23:45') & (df['cdt']<= '2018-03-01 00:00') & 
   (df['cdt'] <= '2018-04-30 23:45')]

# /from datetime import time  , date , datetime
# df['cdt'] = df['cdt'].apply(lambda x : datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
print(df['cdt'])

print(type(df['cdt']))

47995    2017-03-01 07:00:00
47996    2017-03-01 07:00:00
47997    2017-03-01 07:00:00
47998    2017-03-01 07:00:00
47999    2017-03-01 07:00:00
                ...
65531    2017-03-20 16:00:00
65532    2017-03-20 16:00:00
65533    2017-03-20 16:00:00
65534    2017-03-20 16:00:00
65535    2017-03-20 16:00:00
Name: cdt, Length: 16681, dtype: object
<class 'pandas.core.series.Series'>

In [13]:
# !pip install dateparser

In [14]:
# pip3 install -U scikit-learn
# from sklearn.model_selection import train_test_split

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
df = df.replace(np.nan, 0)
train , test = train_test_split(df,test_size = 0.07)
print(train)
print(test)

                       cdt normalize15 zipcode received_energy_kwh isDayLight
57469  2017-03-11 16:15:00      0.0645   75023               2.040          1
58043  2017-03-12 13:00:00      0.1688   78660              13.915          1
51395  2017-03-04 17:30:00      0.0115   78660               0.008          1
63651  2017-03-18 15:45:00      0.3953   75023              60.772          1
60698  2017-03-15 12:15:00      0.7412   78664              81.474          1
...                    ...         ...     ...                 ...        ...
48717  2017-03-01 17:00:00      0.2636   75075              34.148          1
57178  2017-03-11 12:15:00        0.31   78621               4.084          1
57568  2017-03-11 17:45:00      0.0056   78717               0.000          1
49599  2017-03-02 17:00:00      0.2248   75019              27.041          1
50325  2017-03-03 14:45:00      0.6036   76182              57.790          1

[15513 rows x 5 columns]
                       cdt normalize15 zipcode received_energy_kwh isDayLight
62648  2017-03-17 14:15:00      0.6519   76087              15.771          1
57584  2017-03-11 17:45:00      0.0513   76126               0.380          1
54296  2017-03-08 09:00:00       0.459   75093              32.405          1
48158  2017-03-01 09:15:00       0.253   78728              12.375          1
48201  2017-03-01 09:45:00      0.5209   76063              55.077          1
...                    ...         ...     ...                 ...        ...
52437  2017-03-06 08:00:00      0.0576   76087               2.171          1
56434  2017-03-10 14:15:00      0.3268   76126              11.444          1
52801  2017-03-06 13:15:00      0.3333   75023              43.879          1
63785  2017-03-18 17:30:00      0.4031   75023              32.681          1
48710  2017-03-01 16:45:00      0.4439   78660              82.796          1

[1168 rows x 5 columns]

In [18]:
# import datetime as dt
# df['date_time_cst'] = pd.to_datetime(df['date_time_cst'])
# df['date_time_cst']=df['date_time_cst'].map(dt.datetime.toordinal)
# df = df.round(df[['normalize15'  , 'receiived_energy_kwh']]  ,  5)
# df.head(10)

In [19]:
# df.dropna(how=all)

In [20]:
# x_train , x_test , y_train , y_test = train_test_split(df,df['received_energy_kwh'], test_size = 1/3)
# print('*********8')
# x_test.fillna(x_train.mean(), inplace=True)
# print('@@@@@@@@@@@@@@@@@@@@@')
# lr = LinearRegression()

# print('@@@%%%%%%%%%%%%%%')
# df  = df.reset_index(drop =True)

# lr.fit(x_train, y_train)
# print('@@@@@@')

In [21]:

# df['cdt'].astype('float')
# /print(df['cdt'])

# import datetime as dt
# df['date_time_cst'] = pd.to_datetime(df['date_time_cst'])
# df['date_time_cst']=df['date_time_cst'].map(dt.datetime.toordinal)
# lin_reg_mod.fit(X_train, y_train)
# print('%%%%%')

In [22]:
X = pd.DataFrame(np.c_[df[['cdt' , 'normalize15' , 'zipcode','isDayLight']]]  , columns=['cdt','normalize15','zipcode','isDayLight'])
y = df['received_energy_kwh']


X_train , X_test , y_train , y_test = train_test_split(X , y, test_size = 1/3  , random_state = 9)


print(X_train , X_test , y_train , y_test)

                       cdt normalize15 zipcode isDayLight
10587  2017-03-13 15:15:00      0.7686   75023          1
14480  2017-03-18 09:30:00      0.0731   75019          1
6641   2017-03-08 18:15:00      0.0217   76182          1
11474  2017-03-14 15:30:00      0.7862   78728          1
5303   2017-03-07 11:15:00      0.8245   75093          1
...                    ...         ...     ...        ...
4532   2017-03-06 12:15:00      0.8915   76060          1
4673   2017-03-06 14:15:00      0.6069   78717          1
5014   2017-03-07 07:15:00      0.0147   75023          1
9979   2017-03-12 18:45:00      0.0183   78717          1
501    2017-03-01 13:45:00       0.892   76060          1

[11120 rows x 4 columns]                        cdt normalize15 zipcode isDayLight
3508   2017-03-05 09:45:00      0.0978   78660          1
11502  2017-03-14 16:00:00      0.6371   78681          1
1105   2017-03-02 10:45:00       0.697   78717          1
3056   2017-03-04 15:00:00      0.0478   76087          1
13721  2017-03-17 11:00:00      0.0898   78681          1
...                    ...         ...     ...        ...
16275  2017-03-20 10:15:00      0.5477   78621          1
14730  2017-03-18 13:00:00      0.4319   78660          1
9624   2017-03-12 13:45:00      0.1793   78664          1
12210  2017-03-15 13:45:00      0.8349   76108          1
11231  2017-03-14 12:15:00      0.6953   75023          1

[5561 rows x 4 columns] 59097    112.214
63202      1.347
54953      0.889
60031     30.924
53569     50.549
          ...
52746      9.598
52887     11.694
53280      2.784
58448      0.268
48496     20.747
Name: received_energy_kwh, Length: 11120, dtype: object 51687      3.762
60059     81.963
49156     14.056
51210      0.013
62398      3.099
          ...
65130      4.840
63452    133.585
58093      7.272
60807     97.683
59788    106.354
Name: received_energy_kwh, Length: 5561, dtype: object

In [23]:
lin_reg_mod = LinearRegression()
print('#######')

#######

In [24]:
lin_reg_mod.fit(X_train, y_train)
print('%%%%%')

ValueError: could not convert string to float: '2017-03-13 15:15:00'

In [ ]:
pred = lin_reg_mod.predict(X_test)
print(pred)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
test_set_rmse = (np.sqrt(mean_squared_error(y_test, pred)))
test_set_r2 = r2_score(y_test, pred)

In [ ]:
print(test_set_rmse)
print(test_set_r2)

In [ ]:
%%bash
pip install seaborn

In [ ]:
plt.scatter(X,y)
plt.plot(X, Y_pred, color='red')
plt.show()