In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime

In [9]:
df = pd.read_table('/home/shraddha/Downloads/output20200129.txt', sep='\t',
                       names=('date_time_cst','date_time_utc','normalize15','zipcode','rdng_dtmgmt','cdt','main_adr_zip_cd_5','received_energy_kwh',
                              'delivered_energy_kwh','capacity','isDayLight'),
                  low_memory = True, dtype = {'date_time_cst':str,'date_time_utc':str,'normalize15':float,'zipcode':int,'rdng_dtmgmt':str,'cdt':str,'main_adr_zip_cd_5':int,'received_energy_kwh':float,'delivered_energy_kwh':float,'capacity':float,'isDayLight':int}
)
df = pd.DataFrame(df)
# /df[['date_time_cst','date_time_utc','rdng_dtmgmt','cdt']] =df[['date_time_cst','date_time_utc','rdng_dtmgmt','cdt']].astype(str) 

# df[['normalize15','received_energy_kwh','delivered_energy_kwh','capacity']] = df[['normalize15','received_energy_kwh','delivered_energy_kwh','capacity']].astype('float')
# /df[['zipcode','main_adr_zip_cd_5','isDayLight']]= pd.to_numeric(df[['zipcode','main_adr_zip_cd_5','isDayLight']],errors='ignore',downcast='float')

print(df.dtypes)

ValueError: could not convert string to float: 'normalize15'

In [116]:
df = pd.read_table('/home/shraddha/Downloads/output20200129.txt', sep='\t',
                       names=('date_time_cst','date_time_utc','normalize15','zipcode','rdng_dtmgmt','cdt','main_adr_zip_cd_5','received_energy_kwh',
                              'delivered_energy_kwh','capacity','isDayLight'),
                  dtype={'date_time_cst':str,'date_time_utc':str,
                         'normalize15':np.float64 ,'zipcode': np.uint64,'rdng_dtmgmt':str,
                         'cdt':str,'main_adr_zip_cd_5':np.uint64,
                         'received_energy_kwh':np.float64,'delivered_energy_kwh':np.float64,
                         'capacity':np.float64,'isDayLight':np.int64})

df = pd.DataFrame(df)
# df['date_time_cst']=pd.to_datetime(df['date_time_cst'])
print(df.dtypes)

ValueError: could not convert string to float: 'normalize15'

In [76]:
df = pd.DataFrame(df[['cdt' , 'normalize15' , 'zipcode' ,'received_energy_kwh', 'isDayLight']])
print(df[1::].head(10))

                    cdt normalize15 zipcode received_energy_kwh isDayLight
1   2017-01-01 07:00:00      0.0006   75019               0.000        NaN
2   2017-01-01 07:00:00      0.0107   75075               0.993        NaN
3   2017-01-01 07:00:00      0.0165   75093               0.276        NaN
4   2017-01-01 07:00:00      0.0321   76063               0.731        NaN
5   2017-01-01 07:00:00       0.042   78717               0.000        NaN
6   2017-01-01 07:00:00      0.1358   78664               1.628        NaN
7   2017-01-01 07:15:00      0.0006   75019               0.000        NaN
8   2017-01-01 07:15:00      0.0126   75075               1.024        NaN
9   2017-01-01 07:15:00      0.0214   76063               0.757        NaN
10  2017-01-01 07:15:00      0.0223   75093               0.284        NaN

In [77]:
df[['cdt','normalize15','zipcode' , 'received_energy_kwh']].isna().sum()

cdt                    358828
normalize15                 0
zipcode                     0
received_energy_kwh    358828
dtype: int64

In [78]:
df.shape
df = df[df['isDayLight']=='1']
df.head(10)

                    cdt normalize15 zipcode received_energy_kwh isDayLight
13  2017-01-01 07:30:00      0.0006   75019               0.000          1
14  2017-01-01 07:30:00      0.0027   76063               0.777          1
15  2017-01-01 07:30:00      0.0033   76087               0.000          1
16  2017-01-01 07:30:00      0.0047   76060               0.000          1
17  2017-01-01 07:30:00      0.0126   75075               1.054          1
18  2017-01-01 07:30:00      0.0251   75093               0.291          1
19  2017-01-01 07:30:00      0.0281   78717               0.000          1
20  2017-01-01 07:30:00      0.0906   78664               1.774          1
21  2017-01-01 07:45:00      0.0001   76108               0.984          1
22  2017-01-01 07:45:00      0.0004   76182               1.270          1

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61861 entries, 13 to 65535
Data columns (total 5 columns):
cdt                    61861 non-null object
normalize15            61861 non-null object
zipcode                61861 non-null object
received_energy_kwh    61861 non-null object
isDayLight             61861 non-null object
dtypes: object(5)
memory usage: 2.8+ MB

In [80]:
df['zipcode'].value_counts(())

76087    3453
76060    3452
76063    3451
78717    3446
75025    3445
78681    3445
75075    3441
78621    3436
75093    3434
78728    3433
75019    3430
78664    3429
76126    3429
78660    3429
76108    3428
76182    3427
75023    3427
78633    3426
Name: zipcode, dtype: int64

In [81]:
df = df.drop(df.index[0])
received_energy_produced = df[df['received_energy_kwh'].notnull()]
received_energy_produced

                       cdt normalize15 zipcode received_energy_kwh isDayLight
14     2017-01-01 07:30:00      0.0027   76063               0.777          1
15     2017-01-01 07:30:00      0.0033   76087               0.000          1
16     2017-01-01 07:30:00      0.0047   76060               0.000          1
17     2017-01-01 07:30:00      0.0126   75075               1.054          1
18     2017-01-01 07:30:00      0.0251   75093               0.291          1
...                    ...         ...     ...                 ...        ...
65531  2017-03-20 16:00:00      0.6453   76108              69.834          1
65532  2017-03-20 16:00:00      0.6497   76182              45.234          1
65533  2017-03-20 16:00:00      0.6622   78621               9.406          1
65534  2017-03-20 16:00:00      0.6652   78633               0.000          1
65535  2017-03-20 16:00:00       0.675   76126              24.801          1

[61860 rows x 5 columns]

In [82]:
df = df.drop(df.index[0])
received_energy_null = df[df['received_energy_kwh'].isnull()]
received_energy_null

Empty DataFrame
Columns: [cdt, normalize15, zipcode, received_energy_kwh, isDayLight]
Index: []

In [83]:
df.fillna('0').shape

(61859, 5)

In [84]:
new_df = df

In [85]:
# df = df.replace(np.nan, 0)
df = df[(df['cdt'] >= '2017-03-01 00:00') & (df['cdt']<= '2017-04-30 23:45') | (df['cdt']>= '2018-03-01 00:00') & 
   (df['cdt'] <= '2018-04-30 23:45')]
df  = pd.DataFrame(df)
print(df)
# from datetime import time  , date , datetime
# df['cdt'] = df['cdt'].apply(lambda x : datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
# print(df['cdt'])

# print(type(df['cdt']))

                       cdt normalize15 zipcode received_energy_kwh isDayLight
47995  2017-03-01 07:00:00      0.0003   76108               0.000          1
47996  2017-03-01 07:00:00      0.0004   76126               0.000          1
47997  2017-03-01 07:00:00      0.0004   78681               0.000          1
47998  2017-03-01 07:00:00      0.0004   78728               0.000          1
47999  2017-03-01 07:00:00      0.0005   75019               0.004          1
...                    ...         ...     ...                 ...        ...
65531  2017-03-20 16:00:00      0.6453   76108              69.834          1
65532  2017-03-20 16:00:00      0.6497   76182              45.234          1
65533  2017-03-20 16:00:00      0.6622   78621               9.406          1
65534  2017-03-20 16:00:00      0.6652   78633               0.000          1
65535  2017-03-20 16:00:00       0.675   76126              24.801          1

[16681 rows x 5 columns]

In [86]:
# !pip install dateparser

In [87]:
# pip3 install -U scikit-learn
# from sklearn.model_selection import train_test_split

In [88]:
from sklearn.model_selection import train_test_split

In [89]:
from sklearn.linear_model import LinearRegression

In [90]:
# import datetime as dt
# df['date_time_cst'] = pd.to_datetime(df['date_time_cst'])
# df['date_time_cst']=df['date_time_cst'].map(dt.datetime.toordinal)
# df = df.round(df[['normalize15'  , 'receiived_energy_kwh']]  ,  5)
# df.head(10)

In [91]:
# df.dropna(how=all)

In [92]:
# x_train , x_test , y_train , y_test = train_test_split(df,df['received_energy_kwh'], test_size = 1/3)
# print('*********8')
# x_test.fillna(x_train.mean(), inplace=True)
# print('@@@@@@@@@@@@@@@@@@@@@')
# lr = LinearRegression()

# print('@@@%%%%%%%%%%%%%%')
# df  = df.reset_index(drop =True)

# lr.fit(x_train, y_train)
# print('@@@@@@')

In [93]:
print(df.head(5))
# df['cdt'].astype('float')
# /print(df['cdt'])

# import datetime as dt
# df['date_time_cst'] = pd.to_datetime(df['date_time_cst'])
# df['date_time_cst']=df['date_time_cst'].map(dt.datetime.toordinal)
# lin_reg_mod.fit(X_train, y_train)
# print('%%%%%')

                       cdt normalize15 zipcode received_energy_kwh isDayLight
47995  2017-03-01 07:00:00      0.0003   76108               0.000          1
47996  2017-03-01 07:00:00      0.0004   76126               0.000          1
47997  2017-03-01 07:00:00      0.0004   78681               0.000          1
47998  2017-03-01 07:00:00      0.0004   78728               0.000          1
47999  2017-03-01 07:00:00      0.0005   75019               0.004          1

In [94]:
# df = df.replace(np.nan, 0)
# train , test = train_test_split(df,test_size = 0.7)
# print(train)
# print(test)

In [95]:
X = pd.DataFrame(np.c_[df[[ 'normalize15' , 'zipcode']]]  , columns=['normalize15','zipcode'])
y = df['received_energy_kwh']


X_train , X_test , y_train , y_test = train_test_split(X , y, test_size = 0.7  , random_state = 9)


print(X_train , X_test , y_train , y_test)

      normalize15 zipcode
10350      0.3211   75093
14656       0.894   76060
12425      0.5814   78621
16027       0.046   75023
9071       0.0396   76108
...           ...     ...
4532       0.8915   76060
4673       0.6069   78717
5014       0.0147   75023
9979       0.0183   78717
501         0.892   76060

[5004 rows x 2 columns]       normalize15 zipcode
3508       0.0978   78660
11502      0.6371   78681
1105        0.697   78717
3056       0.0478   76087
13721      0.0898   78681
...           ...     ...
1104       0.6948   75023
15734      0.8535   75075
11216      0.6987   75023
12615      0.0055   78681
2533       0.0047   78664

[11677 rows x 2 columns] 58860    17.903
63378    13.935
61022     7.255
64812     3.629
57505     0.470
          ...
52746     9.598
52887    11.694
53280     2.784
58448     0.268
48496    20.747
Name: received_energy_kwh, Length: 5004, dtype: object 51687      3.762
60059     81.963
49156     14.056
51210      0.013
62398      3.099
          ...
49155     85.835
64519    118.467
59773    103.660
61212      0.001
50687      0.002
Name: received_energy_kwh, Length: 11677, dtype: object

In [96]:
lin_reg_mod = LinearRegression()
print('#######')

#######

In [97]:
lin_reg_mod.fit(X_train, y_train)
print('%%%%%')

%%%%%

In [98]:
pred = lin_reg_mod.predict(X_test)
print(pred)

[ 0.89915027 45.88381045 50.81160697 ... 58.48531756 -6.85002007
 -6.88215238]

In [99]:
from sklearn.metrics import mean_squared_error, r2_score
test_set_rmse = (np.sqrt(mean_squared_error(y_test, pred)))
test_set_r2 = r2_score(y_test, pred)

In [100]:
print(test_set_rmse)
print(test_set_r2)

27.51655196076906
0.4450149176970547

In [101]:
%%bash
# pip install seaborn

In [102]:
# plt.scatter(X,y)
# plt