In [77]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [78]:
df = pd.read_table('/home/shraddha/Downloads/output20200129.txt', sep='\t',
                       names=('date_time_cst','date_time_utc','normalize15','zipcode','rdng_dtmgmt','cdt','main_adr_zip_cd_5','received_energy_kwh',
                              'delivered_energy_kwh','capacity','isDayLight'))
df = pd.DataFrame(df)
print(df.head(10))

/home/shraddha/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         date_time_cst        date_time_utc  normalize15  zipcode  \
0        date_time_cst        date_time_utc  normalize15  zipcode
1  2017-01-01 07:00:00  2017-01-01 13:00:00       0.0006    75019
2  2017-01-01 07:00:00  2017-01-01 13:00:00       0.0107    75075
3  2017-01-01 07:00:00  2017-01-01 13:00:00       0.0165    75093
4  2017-01-01 07:00:00  2017-01-01 13:00:00       0.0321    76063
5  2017-01-01 07:00:00  2017-01-01 13:00:00        0.042    78717
6  2017-01-01 07:00:00  2017-01-01 13:00:00       0.1358    78664
7  2017-01-01 07:15:00  2017-01-01 13:15:00       0.0006    75019
8  2017-01-01 07:15:00  2017-01-01 13:15:00       0.0126    75075
9  2017-01-01 07:15:00  2017-01-01 13:15:00       0.0214    76063

           rdng_dtmgmt                  cdt  main_adr_zip_cd_5  \
0          rdng_dtmgmt                  cdt  main_adr_zip_cd_5
1  2017-01-01 13:00:00  2017-01-01 07:00:00              75019
2  2017-01-01 13:00:00  2017-01-01 07:00:00              75075
3  2017-01-01 13:00:00  2017-01-01 07:00:00              75093
4  2017-01-01 13:00:00  2017-01-01 07:00:00              76063
5  2017-01-01 13:00:00  2017-01-01 07:00:00              78717
6  2017-01-01 13:00:00  2017-01-01 07:00:00              78664
7  2017-01-01 13:15:00  2017-01-01 07:15:00              75019
8  2017-01-01 13:15:00  2017-01-01 07:15:00              75075
9  2017-01-01 13:15:00  2017-01-01 07:15:00              76063

   received_energy_kwh  delivered_energy_kwh  capacity  isDayLight
0  received_energy_kwh  delivered_energy_kwh  capacity  isDayLight
1                0.000                49.706       NaN         NaN
2                0.993                73.395    15.200         NaN
3                0.276               102.616    10.000         NaN
4                0.731                88.827    37.960         NaN
5                0.000                12.422       NaN         NaN
6                1.628                94.598    12.310         NaN
7                0.000                50.380       NaN         NaN
8                1.024                74.133    15.200         NaN
9                0.757                99.728    37.960         NaN

In [79]:
df = df[(df['cdt'] >= '2017-03-01 00:00') & (df['cdt']<= '2017-04-30 23:45') & (df['cdt']<= '2018-03-01 00:00') & 
   (df['cdt'] <= '2018-04-30 23:45')]

df = pd.DataFrame(df)
print(df)

              date_time_cst        date_time_utc normalize15 zipcode  \
47979   2017-03-01 06:30:00  2017-03-01 12:30:00      0.0007   76182
47980   2017-03-01 06:30:00  2017-03-01 12:30:00      0.0055   75025
47981   2017-03-01 06:30:00  2017-03-01 12:30:00      0.0101   78660
47982   2017-03-01 06:30:00  2017-03-01 12:30:00      0.0587   76063
47983   2017-03-01 06:30:00  2017-03-01 12:30:00       0.062   75093
...                     ...                  ...         ...     ...
105713  2017-04-30 22:30:00  2017-05-01 04:30:00      0.3834   78681
105714  2017-04-30 22:45:00  2017-05-01 04:45:00      0.3834   78681
105715  2017-04-30 23:00:00  2017-05-01 05:00:00      0.3834   78681
105716  2017-04-30 23:15:00  2017-05-01 05:15:00      0.3834   78681
105717  2017-04-30 23:30:00  2017-05-01 05:30:00      0.3834   78681

                rdng_dtmgmt                  cdt main_adr_zip_cd_5  \
47979   2017-03-01 12:30:00  2017-03-01 06:30:00             76182
47980   2017-03-01 12:30:00  2017-03-01 06:30:00             75025
47981   2017-03-01 12:30:00  2017-03-01 06:30:00             78660
47982   2017-03-01 12:30:00  2017-03-01 06:30:00             76063
47983   2017-03-01 12:30:00  2017-03-01 06:30:00             75093
...                     ...                  ...               ...
105713  2017-05-01 03:30:00  2017-04-30 22:30:00             78681
105714  2017-05-01 03:45:00  2017-04-30 22:45:00             78681
105715  2017-05-01 04:00:00  2017-04-30 23:00:00             78681
105716  2017-05-01 04:15:00  2017-04-30 23:15:00             78681
105717  2017-05-01 04:30:00  2017-04-30 23:30:00             78681

       received_energy_kwh delivered_energy_kwh capacity isDayLight
47979                0.000               45.128      NaN        NaN
47980                5.289               41.130   21.400        NaN
47981                0.859              262.125   21.280        NaN
47982                3.704               81.747   37.960        NaN
47983                0.611              109.510   10.000        NaN
...                    ...                  ...      ...        ...
105713                   0               118.18      9.5        NaN
105714                   0              117.224      9.5        NaN
105715                   0              112.661      9.5        NaN
105716                   0              110.134      9.5        NaN
105717                   0              102.752      9.5        NaN

[57739 rows x 11 columns]

In [80]:
# df = pd.DataFrame(df[['cdt', 'normalize15' , 'zipcode' ,'received_energy_kwh', 'isDayLight']])
df['cdt'] = pd.to_datetime(df['cdt'], errors='coerce')
df['date'] = [d.date() for d in df['cdt']]
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df = pd.DataFrame(df[['date','normalize15','zipcode','received_energy_kwh']])
df['Month'] = df['date'].dt.month
print(df[1::].head(10))

            date normalize15 zipcode received_energy_kwh  Month
47980 2017-03-01      0.0055   75025               5.289      3
47981 2017-03-01      0.0101   78660               0.859      3
47982 2017-03-01      0.0587   76063               3.704      3
47983 2017-03-01       0.062   75093               0.611      3
47984 2017-03-01      0.0776   78717               0.000      3
47985 2017-03-01      0.1269   76060               0.000      3
47986 2017-03-01      0.3737   76087               0.000      3
47987 2017-03-01      0.0007   76182               0.000      3
47988 2017-03-01      0.0055   75025               5.607      3
47989 2017-03-01      0.0101   78660               0.884      3

In [81]:
df[['date','normalize15','zipcode' , 'received_energy_kwh']].isna().sum()

date                   0
normalize15            0
zipcode                0
received_energy_kwh    0
dtype: int64

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57739 entries, 47979 to 105717
Data columns (total 5 columns):
date                   57739 non-null datetime64[ns]
normalize15            57739 non-null object
zipcode                57739 non-null object
received_energy_kwh    57739 non-null object
Month                  57739 non-null int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 2.6+ MB

In [83]:
df['zipcode'].value_counts(())

78681    2623
76063    2353
76087    2322
75025    2294
76060    2286
78717    2254
78664    2225
75093    2220
78660    2218
78633    2204
78728    2187
75075    2157
76126    2156
78621    2152
75023    2139
76108    2134
76182    2133
75019    2125
76087    1039
76060    1031
75025    1023
78681    1021
76063    1017
78717     996
78728     984
76182     973
75093     972
76126     959
75075     954
78621     946
78633     943
76108     943
75023     941
78660     940
75019     938
78664     937
Name: zipcode, dtype: int64

In [84]:
df = df.drop(df.index[0])
received_energy_produced = df[df['received_energy_kwh'].notnull()]
received_energy_produced

             date normalize15 zipcode received_energy_kwh  Month
47980  2017-03-01      0.0055   75025               5.289      3
47981  2017-03-01      0.0101   78660               0.859      3
47982  2017-03-01      0.0587   76063               3.704      3
47983  2017-03-01       0.062   75093               0.611      3
47984  2017-03-01      0.0776   78717               0.000      3
...           ...         ...     ...                 ...    ...
105713 2017-04-30      0.3834   78681                   0      4
105714 2017-04-30      0.3834   78681                   0      4
105715 2017-04-30      0.3834   78681                   0      4
105716 2017-04-30      0.3834   78681                   0      4
105717 2017-04-30      0.3834   78681                   0      4

[57738 rows x 5 columns]

In [85]:
df = df.drop(df.index[0])
received_energy_null = df[df['received_energy_kwh'].isnull()]
received_energy_null

Empty DataFrame
Columns: [date, normalize15, zipcode, received_energy_kwh, Month]
Index: []

In [86]:
df.fillna('0').shape

(57737, 5)

In [87]:
# /df = df.set_index(df['date'])
# df.loc['2017-03-01':'2017-04-30']

# df.loc(['2018-03-01':'2018-04-30'])

In [88]:
# df = df.replace(np.nan, 0)
# sd_1 ='2017-03-01'
# ed_1 ='2017-04-30'
# sd_2 = '2018-03-01'
# ed_2 = '2018-04-30'

# df = df[(df['date'] >= sd_1) & (df['date']<= ed_1) & (df['date']<= sd_2) & (df['date'] <= ed_2)]
# print(df['date'])
# # from datetime import time  , date , datetime
# # df['cdt'] = df['cdt'].apply(lambda x : datetime.strptime(x, "%Y

In [89]:
# !pip install dateparser

In [90]:
# pip3 install -U scikit-learn
# from sklearn.model_selection import train_test_split

In [91]:
from sklearn.model_selection import train_test_split

In [92]:
from sklearn.linear_model import LinearRegression

In [93]:
# import datetime as dt
# df['date_time_cst'] = pd.to_datetime(df['date_time_cst'])
# df['date_time_cst']=df['date_time_cst'].map(dt.datetime.toordinal)
# df = df.round(df[['normalize15'  , 'receiived_energy_kwh']]  ,  5)
# df.head(10)

In [94]:
# df.dropna(how=all)

In [95]:
# x_train , x_test , y_train , y_test = train_test_split(df,df['received_energy_kwh'], test_size = 1/3)
# print('*********8')
# x_test.fillna(x_train.mean(), inplace=True)
# print('@@@@@@@@@@@@@@@@@@@@@')
# lr = LinearRegression()

# print('@@@%%%%%%%%%%%%%%')
# df  = df.reset_index(drop =True)

# lr.fit(x_train, y_train)
# print('@@@@@@')

In [96]:

# df['cdt'].astype('float')
# /print(df['cdt'])

# import datetime as dt
# df['date_time_cst'] = pd.to_datetime(df['date_time_cst'])
# df['date_time_cst']=df['date_time_cst'].map(dt.datetime.toordinal)
# lin_reg_mod.fit(X_train, y_train)
# print('%%%%%')

In [97]:
df = df.replace(np.nan, 0)
train , test = train_test_split(df,test_size = 0.07)
print(train)
print(test)

             date normalize15 zipcode received_energy_kwh  Month
84694  2017-04-10      0.0014   78717                   0      4
77061  2017-04-02      0.0091   75025               0.947      4
58126  2017-03-12      0.1579   78717               1.226      3
55767  2017-03-09       0.125   78664               2.997      3
90289  2017-04-15      0.1311   78633                   0      4
...           ...         ...     ...                 ...    ...
69305  2017-03-24      0.4634   78621               5.231      3
100873 2017-04-26      0.2215   75093              10.123      4
89121  2017-04-14      0.6513   76063              73.897      4
66910  2017-03-22      0.0919   78728               1.697      3
61628  2017-03-16      0.1445   75075               9.506      3

[53695 rows x 5 columns]
             date normalize15 zipcode received_energy_kwh  Month
78514  2017-04-03      0.7931   78664              79.709      4
60701  2017-03-15      0.7652   78633               0.060      3
100242 2017-04-25      0.5442   76126              15.118      4
48848  2017-03-01       0.004   76087               0.000      3
56417  2017-03-10      0.3867   76063              45.796      3
...           ...         ...     ...                 ...    ...
58778  2017-03-13      0.3023   75019              42.569      3
77305  2017-04-02      0.0112   76063               0.068      4
76132  2017-04-01      0.0068   75093               0.417      4
56123  2017-03-10      0.5015   78660             109.908      3
93572  2017-04-19      0.1821   76087               2.437      4

[4042 rows x 5 columns]

In [98]:
X = pd.DataFrame(np.c_[df[['date','normalize15','zipcode']]]  , columns=['date','normalize15','zipcode'])
y = df['received_energy_kwh']


X_train , X_test , y_train , y_test = train_test_split(X , y, test_size = 1/3  , random_state = 9)


print(X_train , X_test , y_train , y_test)

            date normalize15 zipcode
18647 2017-03-21      0.2336   78681
3750  2017-03-05      0.0769   75075
747   2017-03-01      0.3936   78660
57101 2017-04-30      0.7061   76108
2213  2017-03-03      0.6252   78633
...          ...         ...     ...
22584 2017-03-26      0.0411   78681
501   2017-03-01      0.6564   78660
55934 2017-04-29      0.2065   76087
20828 2017-03-24      0.0675   78717
57726 2017-04-30      0.3834   78681

[38491 rows x 3 columns]             date normalize15 zipcode
6737  2017-03-08      0.4849   75019
12050 2017-03-14      0.7862   78728
17070 2017-03-20      0.2101   75023
47418 2017-04-21      0.0001   75023
27463 2017-03-31      0.4613   75025
...          ...         ...     ...
10199 2017-03-12       0.156   78681
53452 2017-04-26      0.0597   76126
18117 2017-03-21      0.4399   75025
8272  2017-03-10      0.2038   76126
18466 2017-03-21      0.7208   76126

[19246 rows x 3 columns] 66628      16.219
51731       1.590
48728      67.836
105082    135.205
50194       0.000
           ...
70565       0.491
48482     143.662
103915      2.807
68809       0.038
105707          0
Name: received_energy_kwh, Length: 38491, dtype: object 54718     76.380
60031     30.924
65051     20.445
95399      0.925
75444      70.23
           ...
58180     10.859
101433     1.245
66098     52.572
56253      3.645
66447     24.902
Name: received_energy_kwh, Length: 19246, dtype: object

In [99]:
lin_reg_mod = LinearRegression()
print('#######')

#######

In [100]:
lin_reg_mod.fit(X_train, y_train)
print('%%%%%')

TypeError: float() argument must be a string or a number, not 'Timestamp'

In [ ]:
pred = lin_reg_mod.predict(X_test)
print(pred)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
test_set_rmse = (np.sqrt(mean_squared_error(y_test, pred)))
test_set_r2 = r2_score(y_test, pred)

In [ ]:
print(test_set_rmse)
print(test_set_r2)

In [ ]:
%%bash
# pip install seaborn

In [ ]:
plt.scatter(X,y)
plt.plot(X, pred , color ='red')
plt.show()